<header class="header">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a href="/" class="logo-link">
                    <img src="/images/akki-logo.svg" alt="AKKI Logo" class="logo-img">
                    <span class="logo-text"><%= company.name %></span>
                </a>
            </div>
            <ul class="nav-menu">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/about" class="nav-link">About</a></li>
                <li><a href="/services" class="nav-link">Services</a></li>
                <li><a href="/app" class="nav-link">App</a></li>
                <li><a href="/contact" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
