<header class="header">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a href="/" class="logo-link">
                    <img src="/images/akki-logo.svg" alt="AKKI Logo" class="logo-img">
                    <span class="logo-text"><%= company.name %></span>
                </a>
            </div>
            <ul class="nav-menu">
                <!-- Home Menu -->
                <li class="nav-item mega-menu-item">
                    <a href="/" class="nav-link">Home</a>
                    <div class="mega-dropdown">
                        <div class="mega-content">
                            <div class="mega-column">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="/">Homepage</a></li>
                                    <li><a href="/#features">Features Overview</a></li>
                                    <li><a href="/#latest">Latest News</a></li>
                                </ul>
                            </div>
                            <div class="mega-column">
                                <h4>Resources</h4>
                                <ul>
                                    <li><a href="/">Getting Started</a></li>
                                    <li><a href="/">Documentation</a></li>
                                    <li><a href="/">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- About Menu -->
                <li class="nav-item mega-menu-item">
                    <a href="/about" class="nav-link">About</a>
                    <div class="mega-dropdown">
                        <div class="mega-content">
                            <div class="mega-column">
                                <h4>About AKKI</h4>
                                <ul>
                                    <li><a href="/about">Company Overview</a></li>
                                    <li><a href="/about">Our Mission</a></li>
                                    <li><a href="/about">Our Vision</a></li>
                                </ul>
                            </div>
                            <div class="mega-column">
                                <h4>Team & Culture</h4>
                                <ul>
                                    <li><a href="/about">Meet the Team</a></li>
                                    <li><a href="/about">Careers</a></li>
                                    <li><a href="/about">Company Culture</a></li>
                                </ul>
                            </div>
                            <div class="mega-column">
                                <h4>Achievements</h4>
                                <ul>
                                    <li><a href="/about">Awards</a></li>
                                    <li><a href="/about">Milestones</a></li>
                                    <li><a href="/about">Case Studies</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Services Menu -->
                <li class="nav-item mega-menu-item">
                    <a href="/services" class="nav-link">Services</a>
                    <div class="mega-dropdown">
                        <div class="mega-content">
                            <div class="mega-column">
                                <h4>Trading Services</h4>
                                <ul>
                                    <li><a href="/services">Algorithmic Trading</a></li>
                                    <li><a href="/services">Market Analysis</a></li>
                                    <li><a href="/services">Portfolio Management</a></li>
                                </ul>
                            </div>
                            <div class="mega-column">
                                <h4>Technology Solutions</h4>
                                <ul>
                                    <li><a href="/services">Custom Development</a></li>
                                    <li><a href="/services">Cloud Solutions</a></li>
                                    <li><a href="/services">API Integration</a></li>
                                </ul>
                            </div>
                            <div class="mega-column">
                                <h4>Financial Services</h4>
                                <ul>
                                    <li><a href="/services">Financial Planning</a></li>
                                    <li><a href="/services">Risk Management</a></li>
                                    <li><a href="/services">Investment Advisory</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- App Menu -->
                <li class="nav-item mega-menu-item">
                    <a href="/app" class="nav-link">App</a>
                    <div class="mega-dropdown">
                        <div class="mega-content">
                            <div class="mega-column">
                                <h4>Download App</h4>
                                <ul>
                                    <li><a href="/app">iOS Application</a></li>
                                    <li><a href="/app">Android Application</a></li>
                                    <li><a href="/app">Web Application</a></li>
                                </ul>
                            </div>
                            <div class="mega-column">
                                <h4>Features</h4>
                                <ul>
                                    <li><a href="/app">Core Features</a></li>
                                    <li><a href="/app">Advanced Tools</a></li>
                                    <li><a href="/app">Security Features</a></li>
                                </ul>
                            </div>
                            <div class="mega-column">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="/app">User Guide</a></li>
                                    <li><a href="/app">Video Tutorials</a></li>
                                    <li><a href="/app">Technical Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Contact Menu -->
                <li class="nav-item mega-menu-item">
                    <a href="/contact" class="nav-link">Contact</a>
                    <div class="mega-dropdown">
                        <div class="mega-content">
                            <div class="mega-column">
                                <h4>Get in Touch</h4>
                                <ul>
                                    <li><a href="/contact">Contact Form</a></li>
                                    <li><a href="/contact">Support Email</a></li>
                                    <li><a href="/contact">Phone Support</a></li>
                                </ul>
                            </div>
                            <div class="mega-column">
                                <h4>Locations</h4>
                                <ul>
                                    <li><a href="/contact">Headquarters</a></li>
                                    <li><a href="/contact">Regional Offices</a></li>
                                    <li><a href="/contact">Find Us</a></li>
                                </ul>
                            </div>
                            <div class="mega-column">
                                <h4>Business</h4>
                                <ul>
                                    <li><a href="/contact">Partnership</a></li>
                                    <li><a href="/contact">Sales Inquiries</a></li>
                                    <li><a href="/contact">Press Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
